<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<div class="container mt-3">
    <%- include('../partials/flash') %>
    <h1>All Expenses</h1>
    <div class="row px-2">
    <% for (let expense of expenses) { %>
            <div class="col col-lg-3 col-md-6 col-sm-12 py-1 expenseHolder d-flex flex-column mb-3 me-2 <%= expense.mode.toLowerCase() %>">
                <h6 class="col col-12 mb-0"><b><%= expense.item %></b></h6>
                <div class="d-flex flex-column">
                    <p class="mb-0"><i>Rs. <%= expense.price %></i></p>
                    <p class="mb-0"><%= expense.date.toLocaleDateString('en-GB') %></p>
                </div>
                <div class="d-flex">
                    <p class="col col-6 mb-0"><%= expense.mode %></p>
                    <a class="col col-6 mb-0" href="/expenses/<%= expense._id %>">Details</a>
                </div> 
            </div>
        
    <% } %>
</div>
</div>
<%- include('../partials/footer') %>