<%- include('./partials/header') %>
<%- include('./partials/navbar') %>
<div class="container mt-3">
    <%- include('./partials/flash') %>
    <h1>Quick View</h1>
    <div class="row d-flex mb-3">
        <h3 class="text-body-secondary mb-3">Date wise snapshot</h3>

        <div class="col col-lg-2 col-md-4 col-sm-6 px-3 dashboard_box">
            <h5 class="text-body-primary"><b>YTD</b></h5>
            <p class="lead">Rs.<%= details.year %></p>
        </div>

        <div class="col col-lg-2 col-md-4 col-sm-6 px-3 dashboard_box">
            <h5 class="text-body-primary"><b>MTD</b></h5>
            <p class="lead">Rs.<%= total %></p>
        </div>

        <div class="col col-lg-2 col-md-4 col-sm-6 px-3 dashboard_box">
            <h5 class="text-body-primary"><b>Yesterday</b></h5>
            <p class="lead">Rs.<%= total %></p>
        </div>

        <div class="col col-lg-2 col-md-4 col-sm-6 px-3 dashboard_box">
            <h5 class="text-body-primary"><b>Today</b></h5>
            <p class="lead">Rs.<%= total %></p>
        </div>
        
    </div>

    <div class="row d-flex mb-3">
        <h3 class="text-body-secondary">Mode wise snapshot</h3>

        <div class="col col-lg-2 col-md-4 col-sm-6 px-3 dashboard_box">
            <h5 class="text-body-primary"><b>Credit</b></h5>
            <p class="lead">Rs.<%= total %></p>
        </div>

        <div class="col col-lg-2 col-md-4 col-sm-6 px-3 dashboard_box">
            <h5 class="text-body-primary"><b>Account</b></h5>
            <p class="lead">Rs.<%= total %></p>
        </div>

        <div class="col col-lg-2 col-md-4 col-sm-6 px-3 dashboard_box">
            <h5 class="text-body-primary"><b>Cash</b></h5>
            <p class="lead">Rs.<%= total %></p>
        </div>

        <div class="col col-lg-2 col-md-4 col-sm-6 px-3 dashboard_box">
            <h5 class="text-body-primary"><b>Wallet</b></h5>
            <p class="lead">Rs.<%= total %></p>
        </div>
    </div>

    <div class="row d-flex mb-3">
        <h3 class="text-body-secondary">Category wise expense</h3>
    </div>
    
</div>
<%- include('./partials/footer') %>

